<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
  <title>RTFMRoulette</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/rtfmroulette.css">
  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">RTFMRoulette</a>
          <ul class="nav">
            <li><a href="/roulette">Spin the wheels</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <%= yield_content :page_header %>
        </div>
        <div class="row">
          <div class="span10">
            <%= yield %>
          </div>
          <div class="span4" id="sidebar">
            <div class="intro"><span class="label">what the</span> Welcome to <strong>RTFMRoulette</strong>. Read the fine manuals you didn't even know existed.</div>
            <%= yield_content :sidebar %>
          </div>
        </div>
      </div>

       <footer>
        <p>A silly service by <a href="http://twitter.com/hgimenez">@hgimenez</a></p>
      </footer>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"> </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27319435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
